<script id="blogtable_template" type="text/template">
   {{#blogs}}
   <tr class="tr_item">
      <td><input type="checkbox"></td>
      <td><span class="item_id">{{id}}</span></td>
      <td>{{user}}</td>
      <td>{{description}}</td>
      <td>{{#maxlen}}{{content}}{{/maxlen}}</td>
      <td>{{dateAsString}}</td>
      <td><a href="comments.html?blogId={{id}}">comments</a></td>
      <td>{{group_}}</td>
      <td>{{mask}}</td>
      <td><button onclick="deleteBlog({{id}})">delete</button></td>
   </tr>
   {{/blogs}}
</script>
