<script id="tag_template" type="text/template">
   <ul class="list-inline">
   {{#tags}}
      <li class="list-inline-item"><a href="details.html?tagId={{id}}">{{name}}</a></li>
   {{/tags}}
   </ul>
</script>
