<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SMTP_USERNAME</name>
          <description>Used to connect via smtps when registering for the site defined in WEB-INF/classes/apis.properties.</description>
          <defaultValue>SEE_AMAZON</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SMTP_PASSWORD</name>
          <description>Used to connect via smtps when registering for the site defined in WEB-INF/classes/apis.properties.</description>
          <defaultValue>SEE_AMAZON</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SMTP_FROM</name>
          <description>Email to registrants are from this user as defined in WEB-INF/classes/apis.properties.</description>
          <defaultValue>SEE_AMAZON</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/harkwell/khallware.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/github</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>AWSREGION=$(curl http://169.254.169.254/latest/meta-data/placement/availability-zone |sed &apos;s#.$##&apos;)
DBHOST=$(aws rds describe-db-instances --region $AWSREGION |jq &apos;.DBInstances[] |select(.DBName == &quot;website&quot;) | .Endpoint | .Address&apos; |sed &apos;s#&quot;##g&apos;)
sed -i -e &quot;s#jdbc:mysql://mysql#jdbc:mysql://$DBHOST#&quot; src/main/webapp/WEB-INF/classes/apis.properties
echo registration_from=$SMTP_FROM &#x3E;&#x3E; src/main/webapp/WEB-INF/classes/apis.properties
sed -i -e &quot;s#^smtp_username=.*\$#smtp_username=$SMTP_USERNAME#&quot; src/main/webapp/WEB-INF/classes/apis.properties
sed -i -e &quot;s#^smtp_password=.*\$#smtp_password=$SMTP_PASSWORD#&quot; src/main/webapp/WEB-INF/classes/apis.properties</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/usr/local/maven/bin/mvn -Dmaven.repo.local=/usr/share/maven-repo clean package
cp target/apis.war /var/lib/tomcat8/webapps/apis.war</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/apis.war</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>
