<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.khallware.apis"
        android:versionCode="1"
        android:versionName="1.0">
     <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="19" />
     <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <application android:label="@string/app_name"
             android:icon="@drawable/ic_launcher">
         <activity android:name="Khallware"
                 android:label="@string/app_name">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>
         <activity android:name=".TagsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".ConnectActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".ContactsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".BookmarksActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".BlogsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".EventsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".FileitemsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".LocationsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".PhotosActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".SearchActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".SoundsActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
         <activity android:name=".VideosActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                     <category android:name="com.example.android.supportv4.SUPPORT4_SAMPLE_CODE" />
             </intent-filter>
         </activity>
    </application>
</manifest>
