<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<servlet>
   <servlet-name>khallware</servlet-name>
   <servlet-class>com.khallware.api.KhallwareServletContainer</servlet-class>
   <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.khallware.api.ctrl</param-value>
   </init-param>
   <load-on-startup>1</load-on-startup>
</servlet>
<servlet>
   <servlet-name>upload</servlet-name>
   <servlet-class>com.khallware.api.ctrl.Upload</servlet-class>
   <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
   <servlet-name>khallware</servlet-name>
   <url-pattern>/v1/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
   <servlet-name>upload</servlet-name>
   <url-pattern>/v1/upload</url-pattern>
</servlet-mapping>
</web-app>
